#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list {
  text-align: left;
  padding: 0;
}

.list li {
  list-style: none;
  color: white;
  background-color: #333;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  width: 500px;
}
.list li .price {
  color: #dde017;
}

.list li p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}
.list li p {
  margin: 0;
}
